//========================================
// Import the fonts
//========================================

@font-face {
  font-family: 'Pricedown Rus';
  src: url('../fonts/PricedownRus.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}