//========================================
// Mixins
//========================================


// Primary text styles
//----------------------------------------

@mixin menu-text() {
  font-family: $font-primary;
  color: $brand-primary;
  text-transform: lowercase;
}