<!DOCTYPE html>
<html lang="ru">
  <head>
    {{> meta }}

    <title>Vice City Main Menu</title>

    {{> link-style }}
  </head>

  <body>
    
    <nav class='menu'>
      <div class="menu__walker"></div>
      <ul class="menu__list">
        <li class="menu__item">
          <a href="#" class="menu__link">Lorem ipsum dolor.</a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link">Lorem ipsum.</a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link">Lorem ipsum.</a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link">Lorem ipsum dolor.</a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link">Lorem.</a>
        </li>
      </ul>
    </nav>

    {{> link-script }}
    
  </body>
</html>