<!DOCTYPE html>
<html lang="ru">
  <head>
    {{> meta }}

    <title>Vice City Main Menu</title>

    {{> link-style }}
  </head>

  <body>
    
    <nav class='menu'>
      <!-- <div class="menu__walker"></div> -->
      <svg class="menu__walker" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 100 100" preserveAspectRatio="none" width="100%" height="80">
        <polygon class="menu__walker-path" points="4 14, 100 7, 96 98, 5 83"></polygon>
      </svg>

      <ul class="menu__list">
        <li class="menu__item">
          <a href="#" class="menu__link">Lorem ipsum dolor.</a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link">Lorem ipsum.</a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link">Lorem ipsum.</a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link">Lorem ipsum dolor.</a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link">Lorem.</a>
        </li>
      </ul>
    </nav>

    {{> link-script }}
    
  </body>
</html>