* {
  box-sizing: border-box;
}

body {
  font-family: $font-primary;
  line-height: 1.4;
}

img {
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-secondary;
  font-weight: normal;
}

a {
  color: $brand-primary;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

button {
  padding-left: gutter();
  padding-right: gutter();
  border: none;
  cursor: pointer;
}