* {
  cursor: url(/img/vc-cursor.png), auto;
}

html, body {
  width: 100%; height: 100%;
  overflow: hidden;
  background: #CCC;
}
.menu-bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 84%;
  height: 84%;
  margin: auto;
  // background-image: url('/img/bg/background.png');

  &-path {
    // fill: url('/img/bg/background.png');
  }
}

.menu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: $font-primary;

  &__list {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  &__item {
    display: table;
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }



  &__link {
    display: inline-block;
    padding: .1em .2em;
    text-decoration: none;
    color: $brand-primary;
    transform: translateZ(0px);
    text-transform: lowercase;
    font-size: 3em;
    text-shadow: .075em .075em 0 black;
  }
  
  &__walker {
    position: absolute;
    top: 0;
    left: 50%;
    // width: 100%;
    // height: 40px;
    z-index: -1;
    transform: translateX(-50%) scale(1.2, 1.2);
    transition: all $normal-speed;

    &-path {
      fill: $walker-bg;
      transition: all $normal-speed;
    }
  }
}
