* {
  box-sizing: border-box;
  cursor: url('../img/vc-cursor.png'), auto;
}

html, body {
  width: 100%; height: 100%;
  overflow: hidden;
  background: #000;
}

.menu-title {
  @include menu-text();
  font-size: 6em;
  text-shadow: -.12em .12em 0 #333;
  z-index: 1;
  position: absolute;
  margin: 0;
  right: .25em;
  top: .25em;
  font-weight: normal;
  text-align: right;
}

.menu-logo {
  position: absolute;
  z-index: 1;
  top: -150px;
  bottom: 0;
  left: 4%;
  width: 375px;
  height: auto;
}

.menu-bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 86%;
  height: 86%;
  margin: auto;

  &-path {}
}

.menu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &__list {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  &__item {
    display: table;
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }

  &__link {
    display: inline-block;
    padding: .1em .2em;
    text-decoration: none;
    @include menu-text();
    font-size: 3em;
    text-shadow: .075em .075em 0 black;
  }
  
  &__walker {
    position: absolute;
    top: 0;
    left: 50%;
    z-index: -1;
    transform: translateX(-50%) scale(1.2, 1.2);
    transition: all $normal-speed;

    &-path {
      fill: $walker-bg;
      transition: all $normal-speed;
    }
  }
}
